<script>
  //TODO: разбить на компоненты
  //TODO: импортировать конфиг с функциями для рисования разных фигур

  /**
  * Imports
  */
  import { onMount } from 'svelte'

  /**
  * Variables
  */
  let canvas, ctx, isDrawing, start, top, left;
  let width = 1200, height = 600;

  let colors = [
    '#000',
    '#fff',
    '#B31312',
    '#29ADB2',
    '#0766AD',
    '#662549',
    '#D0F288',
    '#F39F5A',
    '#8696FE',
    '#F4F27E'
  ];
  let 
    primaryColor = colors[0], 
    secondaryColor = colors[1], 
    activeColor = '';

  const values = [
		{ label: '1', number: 1 },
		{ label: '2', number: 2 },
		{ label: '3', number: 3 },
		{ label: '4', number: 4 },
		{ label: '5', number: 5 },
	];
	
	let selected = values[2];

  let showThickness = false;
  let eraser = false;
  let activeFigure = 'pencil';
  /**
  * Functions
  */
  const pickColor = (active, color) => {
    switch (active) {
      case 'secondary':
        secondaryColor = color;
        ctx.fillStyle = color;
        eraser = false;
        break;
      case 'eraser':
        ctx.strokeStyle = color;
        break;
      default:
        primaryColor = color;
        ctx.strokeStyle = color;
        eraser = false;
        break;
    }
  };

  const pickThickness = (thickness) => {
    ctx.lineWidth = thickness;
  };
  
  const pickEraser = () => {
    console.log(eraser);
    if (!eraser) {
      activeColor = 'eraser';
      pickColor(activeColor, '#fff');
      eraser = true;
      return;
    };

    activeColor = '';
    pickColor(activeColor, primaryColor);
    eraser = false;
  };

  const handleStart = (({ offsetX: x, offsetY: y, button}) => {
      button === 2 ? ctx.strokeStyle = secondaryColor : ctx.strokeStyle = primaryColor;
      if (eraser) {
        ctx.strokeStyle = '#fff';
      }; 
			isDrawing = true;
			start = { x, y };
	});
	
	const handleEnd = () => { isDrawing = false };

	const handleMove = (({ offsetX: x1, offsetY: y1}) => {
		if(!isDrawing) return
		
		const { x, y } = start;
		ctx.beginPath();
		ctx.moveTo(x, y);
		ctx.lineTo(x1, y1);
		ctx.closePath();
		ctx.stroke();
		
		start = { x: x1, y: y1 };
	});

  //TODO: переделать по-человечески toggleTool
  const toggleTool = (tool) => {
    Object.entries(tools).forEach((key) => {
        if (key[0] === tool) {
          key[1].active = true;
          activeFigure = tool;
        } else {
          key[1].active = false;
        };
    })
  }

  //TODO: переделать конфиг и верстку инструментов, передавать нужные для рисования выбранной фигуры функции, включить ластик в конфиг инструментов и переписать функционал рисования под него
  $: tools = {
    line: {
      active: false
    },
    pencil: {
      active: true
    },
    rectangle: {
      active: false
    },
    triangle: {
      active: false
    },
    circle: {
      active: false
    },
  };

  onMount(() => {
    ctx = canvas.getContext('2d');
    ctx.lineWidth = 3;
    ctx.strokeStyle = primaryColor;
    ctx.fillStyle = secondaryColor;
  });

  // window.onbeforeunload = (e) => {
  //   e.preventDefault()
  // };
</script>

<div class="interface__wrapper">
  <div class="interface">
    <div class="interface__header">
      <div class="header">
        <div class="tools">
          <div class="palette">
            <div class="palette__colors--row">
              {#each colors as color}
                <div 
                  class="color" 
                  on:click={() => pickColor(activeColor, color)} 
                  style:background={color}
                >
                </div>
              {/each}
            </div>
            <div class="title">
              Палитра
            </div>
          </div>
          <div class="tools__item column">
            <div 
              class="color" 
              style:background={primaryColor}  
            >
            </div>
            <div 
              class="title" 
              class:current={activeColor === 'primary'} 
              on:click={() => {
                  activeColor = 'primary';
                  pickColor(activeColor, primaryColor);
                  }
                }
              >
              Цвет 1
            </div>
          </div>
          <div class="tools__item column">
            <div 
              class="color" 
              style:background={secondaryColor}
              >
            </div>
            <div 
              class="title" 
              class:current={activeColor === 'secondary'} 
              on:click={() => {
                activeColor = 'secondary';
                pickColor(activeColor, secondaryColor);
                }
              }
            >
              Цвет 2
            </div>
          </div>
          <div class="tools__item">
            <div 
            class="title"
            class:current={activeFigure === 'line'}
            on:click={() => toggleTool('line')}
            >
              Прямая
            </div>
          </div>
          <div class="tools__item">
            <div 
              class="title"
              class:current={activeFigure === 'pencil'}
              on:click={() => toggleTool('pencil')}
            >
              Карандаш
            </div>
          </div>
          <div class="tools__item">
            <div 
              class="title"
              class:current={activeFigure === 'rectangle'}
              on:click={() => toggleTool('rectangle')}
            >
              Прямоугольник
            </div>
          </div>
          <div class="tools__item">
            <div 
              class="title"
              class:current={activeFigure === 'triangle'}
              on:click={() => toggleTool('triangle')}
              >
              Треугольник
            </div>
          </div>
          <div class="tools__item">
            <div 
              class="title"
              class:current={activeFigure === 'circle'}
              on:click={() => toggleTool('circle')}
            >
              Круг
            </div>
          </div>
          <div class="tools__item">
            <div 
              class="title"
              class:current={activeColor === 'eraser'} 
              on:click={pickEraser}
            >
              Ластик
            </div>
          </div>
          <div class="tools__item column">
            <div 
              class="title" 
              on:click={() => showThickness = !showThickness}
            >
              Толщина
            </div>
              {#if showThickness}
                <div class="thickness">
                  {#each values as value}
                    <label>
                      <input
                        type="radio"
                        bind:group={selected}
                        name="amount"
                        value={value}
                        on:click={() => pickThickness(value.number)}
                      >
                      {value.label}
                    </label>
                  {/each}
                </div>
              {/if}
            </div>
          <div class="tools__item">
            <div 
              class="title" 
              on:click={() => window.open('', canvas.toDataURL())}
            >
              Сохранить
            </div>
          </div>
        </div>    
     </div>
    </div>
    <div class="interface__body">
      <canvas
        {width}
        {height} 
        bind:this={canvas}
        on:mousedown={handleStart}	
				on:mouseup={handleEnd}								
				on:mousemove={handleMove}
        on:mouseleave={handleEnd}
        on:contextmenu={handleStart}
        id="canvas" 
        style:background={'#fff'}
      >
      </canvas>
    </div>
  </div>
</div>

<style lang="scss">
  .interface__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background: whitesmoke;
    
    .interface {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      overflow: hidden auto;

      .interface__header {
        position: relative;
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-shrink: 0;

        .header {
          position: relative;
          width: 100%;
          height: 100px;
          display: flex;
          justify-content: center;
          padding: 4px 20px;
          pointer-events: all;

          .tools {
            display: flex;
            gap: 20px;

            .tools__item {
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              &.column {
                flex-direction: column;
                gap: 5px;
              }

              .color {
                width: 50%;
                height: 30%;
                border: 1px solid #232323;
              }

              .title {
                padding: 10px;
                border: 1px solid #575757;
                box-shadow: 1px 5px  #b9b9b9;
                font-weight: 600;
                background: white;
                
                &.current {
                  background: #c5ddee;
                }

                &:active {
                  box-shadow: 1px 2px  #b9b9b9;
                  transform: translateY(5px);
                }
              }
            }
            
            .palette {
              width: 101px;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              align-items: center;
              gap: 7px;
              font-weight: 600;

              .palette__colors--row {
                display: flex;
                flex-wrap: wrap;
                gap: 4px;
                
                .color {
                  width: 15px;
                  height: 15px;
                  background: wheat;
                  border: 1px solid #232323;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      .interface__body {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;

        #canvas {
          border: 3px solid #232323;
        }
      }
    }
  }
</style>
