html, body, div, span, p, img, label, canvas, h1, h2, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  user-select: none;
}

html, body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  overscroll-behavior-y: none;
}

body {
  box-sizing: border-box;
}

svg {
  width: 100%;
  height: 100%;
}

